ENVIRONMENT=DEV
API_PORT=8080



DB_HOST=localhost
DB_PORT=5432
DB_USER=favorite
DB_PASSWORD=favorite
DB_NAME=favorite
DB_SSL_MODE=disable

TOKEN_SECRET=hRjU/cU1TJJiogiFQud5+/bkTFmkehfH
TOKEN_EXPIRATION=10